/ComputationalGeometry/.vs/ComputationalGeometry/FileContentIndex/01cf0099-402d-45cd-9a36-9937996204da.vsidx
/ComputationalGeometry/.vs/ComputationalGeometry/FileContentIndex/82154947-5947-4e60-b0b7-ee7e4e3b179f.vsidx
/ComputationalGeometry/.vs/ComputationalGeometry/FileContentIndex/a2eee190-b434-4de9-b691-a1c531f2d3a3.vsidx
/ComputationalGeometry/.vs/ComputationalGeometry/FileContentIndex/b0cedf5c-07f8-4268-b8e3-3a249df7ac44.vsidx
/ComputationalGeometry/.vs/ComputationalGeometry/FileContentIndex/e0c48b48-ee42-45f7-bb03-7589d9ce4abc.vsidx
/ComputationalGeometry/.vs/ComputationalGeometry/v17/.suo
/ComputationalGeometry/.vs/ComputationalGeometry/v17/Browse.VC.db
/ComputationalGeometry/.vs/ComputationalGeometry/v17/Browse.VC.db-shm
/ComputationalGeometry/.vs/ComputationalGeometry/v17/Browse.VC.db-wal
/ComputationalGeometry/.vs/ComputationalGeometry/v17/Browse.VC.opendb
/ComputationalGeometry/.vs/ComputationalGeometry/v17/ipch/AutoPCH/3b744b4745358d0a/GEOUTILS.ipch
/ComputationalGeometry/.vs/ComputationalGeometry/v17/ipch/AutoPCH/42ba3277c1c7faf6/VECTOR.ipch
/ComputationalGeometry/.vs/ComputationalGeometry/v17/ipch/AutoPCH/67a69e76fcbbe09a/GEOUTILS.ipch
/ComputationalGeometry/.vs/ComputationalGeometry/v17/ipch/AutoPCH/76c34e5d8079cc71/POINT.ipch
/ComputationalGeometry/.vs/ComputationalGeometry/v17/ipch/AutoPCH/ded4947291e1537f/GEOUTILS.ipch
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/CL.command.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/CL.read.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/CL.write.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/ComputationalGeometry.lastbuildstate
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/link.command.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/link.read.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/link.write.1.tlog
/ComputationalGeometry/x64/Release/Computat.e1806ec8.tlog/unsuccessfulbuild
/ComputationalGeometry/x64/Release/ComputationalGeometry.Build.CppClean.log
/ComputationalGeometry/x64/Release/ComputationalGeometry.log
/ComputationalGeometry/x64/Release/ComputationalGeometry.vcxproj.FileListAbsolute.txt
/ComputationalGeometry/x64/Release/GeoUtils.obj
/ComputationalGeometry/x64/Release/vc143.pdb
/ComputationalGeometry/x64/Release/Vector.obj
